body{
    background-image: url(kepek/hatter.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: center;
}

.kozep{
    margin-left: auto;
    margin-right: auto;
    width: 1024px;
}


header{
    height: 80px;

}



nav{
    background-color:rgba(0, 0, 0, 0.555);
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

a{
    color:whitesmoke;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

nav a{
    text-decoration: none;
    padding-right: 10px;
    padding-left:10px;
}

main{
    height: 400px;
    margin-top:40px;
    padding-top:80px;
    padding-left:240px;
    padding-right:240px;
    text-align: center;
    font-size: 20px;
}

h2{
    text-align: center;
    color:whitesmoke;
    font-size: 60px;
    font-family: 'Times New Roman', Times, serif;
}

footer{
    background-color:rgba(0, 0, 0, 0.555);
    text-align: center;
    color:aliceblue;
    padding-top: 30px;  
    padding-bottom: 30px;
}

